:root {
	font-family: 'Roboto', sans-serif;
}

p {
	line-height: 1.4;
}

input, textarea, select, button {
	font: inherit;
}

h1 {
	font-size: 3em;
	font-weight: 100;
	letter-spacing: 0.05em;
	margin-bottom: 0;
}

.description {
	font-weight: 100;
}
