@import "mixins";
@import "typography";
@import "form";
@import "result";

*, *::before, *::after {
	box-sizing: inherit;
}

:root {
	background: white;
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
}
